services:
  web:
    build: .
    restart: unless-stopped
    # read_only: true (проверить потом)
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - db
    networks:
      - my_network

  db:
    image: postgres:18.1-alpine3.23
    restart: unless-stopped
    shm_size: 128mb
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DATABASE}
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - my_network

volumes:
  pgdata:

networks:
  my_network:
    name: my_network
    driver: bridge
