@import "tailwindcss";

:root {
  --background: oklch(1 0 0deg);
  --foreground: oklch(0 0 0deg);
  --accent-orange: oklch(0.6795 0.2075 39.59deg);
  --accent-orange-light: oklch(0.8508 0.0629 45.9deg);
  --accent-blue: oklch(0.5381 0.2545 270.46deg);
  --white: oklch(1 0 0deg);
  --accent-green: oklch(0.9451 0.1243 101.54deg);
}

@theme {
  --color-*: initial;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-orange: var(--accent-orange);
  --color-accent-orange-light: var(--accent-orange-light);
  --color-accent-blue: var(--accent-blue);
  --color-white: var(--white);
  --color-accent-green: var(--accent-green);
  --font-shantell: var(--font-shantell-sans);
  --font-inter: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0 0 0deg);
    --foreground: oklch(1 0 0deg);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
