@import "tailwindcss";

:root {
  --background: oklch(1 0 0deg);
  --foreground: oklch(0.2 0 0deg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-shantell: var(--font-shantell-sans);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.15 0 0deg);
    --foreground: oklch(0.95 0 0deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
