.scrollHorisontal {
  animation: ticker 10s linear infinite;
  will-change: transform;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-7.14%, 0, 0);
  }
}
