:root {
  --step-x: -36px;
  --step-y: 36px;
  --step-offset: 18px;
}

@media (width >= 1280px) {
  :root {
    --step-x: -100px;
    --step-y: 100px;
    --step-offset: 50px;
  }
}

.card1,
.card2,
.card3 {
  animation-timing-function: linear;
  will-change: transform;
}

.card1 {
  animation: certificate1 5s infinite;
}

.card2 {
  animation: certificate2 5s infinite;
}

.card3 {
  animation: certificate3 5s infinite;
}

@keyframes certificate1 {
  0% {
    transform: translateY(var(--step-y)) translateX(var(--step-x));
    z-index: 3;
  }

  31% {
    transform: translateY(calc(var(--step-y) / 2)) translateX(calc(var(--step-x) / 2));
  }

  60% {
    transform: translateY(0) translateX(0);
    z-index: -1;
  }

  70% {
    transform: translateY(calc(var(--step-offset) * -1)) translateX(0);
  }

  90% {
    transform: translateY(var(--step-offset)) translateX(var(--step-x));
  }

  100% {
    transform: translateY(var(--step-y)) translateX(var(--step-x));
    z-index: 3;
  }
}

@keyframes certificate2 {
  0% {
    transform: translateY(calc(var(--step-y) / 2)) translateX(calc(var(--step-x) / 2));
  }

  31% {
    transform: translateY(0) translateX(0);
    z-index: -1;
  }

  41% {
    transform: translateY(calc(var(--step-offset) * -1)) translateX(0);
  }

  61% {
    transform: translateY(var(--step-offset)) translateX(var(--step-x));
    z-index: 3;
  }

  71% {
    transform: translateY(var(--step-y)) translateX(var(--step-x));
    z-index: 3;
  }

  100% {
    transform: translateY(calc(var(--step-y) / 2)) translateX(calc(var(--step-x) / 2));
  }
}

@keyframes certificate3 {
  0% {
    transform: translateY(0) translateX(0);
    z-index: -1;
  }

  10% {
    transform: translateY(calc(var(--step-offset) * -1)) translateX(0);
  }

  30% {
    transform: translateY(var(--step-offset)) translateX(var(--step-x));
  }

  40% {
    transform: translateY(var(--step-y)) translateX(var(--step-x));
    z-index: 3;
  }

  70% {
    transform: translateY(calc(var(--step-y) / 2)) translateX(calc(var(--step-x) / 2));
  }

  100% {
    transform: translateY(0) translateX(0);
    z-index: -1;
  }
}
